/* Tailwind replaced */
/* .nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.highlighted {
  color: white;
  background-color: var(--background-color-blue);
}

.nav__top,
.nav__bottom {
  display: flex;
  height: 50%;
  width: 100%;
  padding: 0 2rem;
}

.navbar__elements p {
  /* font-size: 0.8rem; */
}

.nav__bottom {
}

/* Container */
.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 17.5rem;
}

/* Search bar */
.search_bar_inside {
  position: relative;
  display: flex;
  border: 1px solid #dbdbdb;
  height: 2.3rem;
  width: 17rem;
}

.search_bar_inside input {
  width: 100%;
  padding: 2px 5px;
}

.search_icon_container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color-blue);
  /* padding: 0.5rem; */
  color: white;

  width: 15%;
  height: 100%;
}

.switcher_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.switcher_container select {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.switcher_container select option {
  background-color: var(--background-color-blue);
}

.nav__top {
  color: white;
  background-color: var(--background-color-blue);
}
