/* Tailwind replaced */
/* .nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
/*   @apply absolute right-0 mt-3 p-5 rounded-lg bg-white 
min-w-[210px] flex flex-col gap-2 justify-end items-center 
bg-[--background-color-blue];
 */

.dropdown{
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20rem;
  height: auto;
  top: 0;
  left: 0;
  background-color: var(--background-color-blue);
  gap: 0.5rem;
  border-radius: 0 0 10px 10px;

  z-index: 100;
}
/*   @apply text-sm text-white hover:text-gray-400 font-medium; */
.highlighted {
  color: white;
  background-color: var(--background-color-blue);
}

.nav__top,
.nav__bottom {
  display: flex;
  height: 50%;
  width: 100%;
  padding: 0 2rem;
}

/* Container */
.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 17.5rem;
}

/* Search bar */
.search_bar_inside {
  position: relative;
  display: flex;
  border: 1px solid #dbdbdb;
  height: 2.3rem;
  width: 17rem;
}

.search_bar_inside input {
  width: 100%;
  padding: 2px 5px;
}

.search_icon_container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color-blue);
  /* padding: 0.5rem; */
  color: white;

  width: 15%;
  height: 100%;
}

.switcher_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.switcher_container select {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.switcher_container select option {
  background-color: var(--background-color-blue);
}

.nav__top {
  color: white;
  background-color: var(--background-color-blue);
}
/* navbar custom settings */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  width: 100%;
}

.desktopMenu {
  display: flex;
  gap: 2rem;
}

.dropdownIcon {
  display: none;
}

/* Custom breakpoint at 985px */
@media (max-width: 1130px) {
  .desktopMenu {
    display: none;
  }
  .dropdownIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
}
