@tailwind base;
@tailwind components;
@tailwind utilities;

/* Important constants*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 90%;
  margin: 0 auto;
}

@layer base {
  :root {
    --background-color-blue: #00357d;
    --background-color-yellow: #dcc293;
    --background-color-white: #ffff;
  }
}
